.viewport-frame div {
    box-sizing: border-box;
}

/* VIEWPORT */

.viewport-frame {
    user-select: none;
    overflow: scroll;
    position: relative;
    padding: 5px;
}

.viewport-frame > .viewport {
    text-align: left;
    white-space: nowrap;
    position: relative;
}

.viewport-frame > .viewport > .lane {
    background-color: #f9f9f9;
    border: 1px solid #aaa;
    border-radius: 3px;
}

.viewport-frame > .viewport > .lane > .sub-lane {
    margin: 5px 0 0 5px;
    position: relative;
}

.viewport-frame > .viewport > .lane > .sub-lane:last-child {
    border: 0 !important;
}

.viewport-frame > .viewport > .lane > .sub-lane > .blob {
    position: absolute !important;
    z-index: 10;
    font-size: 0.8em;
    white-space: nowrap;
    top: 0;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(118, 133, 160, 0.2);
    padding: 5px;
    border-radius: 8px;
}

.viewport-frame > .viewport > .lane > .sub-lane > .blob:hover {
    background-color: rgba(118, 133, 160, 0.4);
}

.viewport-frame > .viewport > .lane > .sub-lane > .blob:active {
    background-color: rgba(118, 133, 160, 0.4);
}

/* VIEWPORT - VERTICAL */

.viewport-frame > .viewport.vertical {
    height: 100%;
}

.viewport-frame > .viewport.vertical > .lane {
    display: inline-block;
    height: 100%;
    margin: 24px 0 0 2px;
}

.viewport-frame > .viewport.vertical > .lane > .title {
    max-height: 22px;
    display: inline;
    position: absolute;
    padding: 0 0 0 5px;
    top: 4px;
}

.viewport-frame > .viewport.vertical > .lane > .sub-lane {
    display: inline-block;
    width: 85px;
    height: 100%;
    border-right: 1px dashed #dfdfdf;
}

.viewport-frame > .viewport.vertical > .lane > .sub-lane > .blob {
    width: 80px;
    height: 120px;
    border-top: 1px solid rgba(118, 133, 160, 0.1);
    border-right: 1px solid rgba(118, 133, 160, 0.2);
    border-bottom: 1px solid rgba(118, 133, 160, 0.1);
    border-left: 1px solid rgba(118, 133, 160, 0.2);
}

/* VIEWPORT - HORIZONTAL */

.viewport-frame > .viewport.horizontal {
    width: 130%;
}

.viewport-frame > .viewport.horizontal > .lane {
    position: relative;
    margin: 24px 0 5px 0;
}

.viewport-frame > .viewport.horizontal > .lane > .title {
    max-height: 22px;
    display: inline;
    position: absolute;
    top: -21px;
    padding: 0 0 0 5px;
}

.viewport-frame > .viewport.horizontal > .lane.ticks {
    height: 30px;
    border: none;
    background: transparent;
    margin: 0;
}

.viewport-frame > .viewport.horizontal > .lane.ticks > .tick {
    transform: rotate(-60deg);
    transform-origin: left top;
    bottom: -10px;
    position: absolute;
    font-size: 0.8em;
    opacity: 0.7;
    z-index: 100;
}

.viewport-frame > .viewport.horizontal > .lane.ticks > .tick.harsh {
    font-weight: bold;
    opacity: 1;
}

.viewport-frame > .viewport.horizontal > .lane.ticks > .tick:hover {
    color: red;
}

.viewport-frame > .viewport.horizontal > .lane.ticks > .tick:hover::before {
    height: 1000px;
    display: block;
    background-color: red;
    z-index: 100;
    left: 16px;
    width: 1px;
    position: absolute;
    opacity: 1;
    content: "";
    transform: rotate(60deg) translateY(30px);
    transform-origin: inherit;
}

.viewport-frame > .viewport.horizontal > .lane > .sub-lane {
    height: 35px;
    border-bottom: 1px dashed #dfdfdf;
}

.viewport-frame > .viewport.horizontal > .lane > .sub-lane > .blob {
    width: 120px;
    height: 30px;
    border-left: 1px solid rgba(118, 133, 160, 0.1);
    border-bottom: 1px solid rgba(118, 133, 160, 0.2);
    border-right: 1px solid rgba(118, 133, 160, 0.1);
    border-top: 1px solid rgba(118, 133, 160, 0.2);
}

/* CUSTOM BLOB - VERTICAL */

.viewport.vertical > .lane > .sub-lane > .blob > .actions {
    font-size: 16px;
}

.viewport.vertical > .lane > .sub-lane > .blob > .actions > div {
    padding: 2px 5px 2px 5px;
    margin: 2px 0 2px 0;
    border-radius: 2px;
}

.viewport.vertical > .lane > .sub-lane > .blob:hover > .actions > div,
.viewport.vertical > .lane > .sub-lane > .blob:active > .actions > div {
    display: block !important;
}

/* CUSTOM BLOB - HORIZONTAL */

.viewport.horizontal > .lane > .sub-lane > .blob > .actions {
    font-size: 16px;
    display: inline-flex;
    justify-content: left;
}

.viewport.horizontal > .lane > .sub-lane > .blob > .actions > div {
    padding: 2px 5px 2px 5px;
    margin: 2px 0 2px 0;
    border-radius: 2px;
}

.viewport.horizontal > .lane > .sub-lane > .blob:hover > .actions > div,
.viewport.horizontal > .lane > .sub-lane > .blob:active > .actions > div {
    display: block !important;
}