.undesired {
	 background-color: rgba(240, 171, 0, 0.4) !important;
}

.desired {
	 background-color: rgba(63, 156, 53, 0.4) !important;
}

.unavailable {
	 background-color: rgba(139, 0, 0, 0.4) !important;
}