.timeSlotAvailability {
    float: right;
}
.active > .timeSlotUnavailable {
    color: red !important;
}
.active > .timeSlotUndesired {
    color: orange !important;
}
.active > .timeSlotDesired {
    color: green !important;
}
