.timeSlotAvailability {
    float: left;
    margin-right: 5px;
}
.active.timeSlotUnavailable span {
    color: red !important;
}
.active.timeSlotUndesired span {
    color: orange !important;
}
.active.timeSlotDesired span {
    color: green !important;
}
