.timeSlotAvailability {
    float: left;
    margin-right: 5px;
}
.active > .timeSlotUnavailable {
    color: red !important;
}
.active > .timeSlotUndesired {
    color: orange !important;
}
.active > .timeSlotDesired {
    color: green !important;
}
