.kie-page {
  align-items: stretch;
  display: table;
  justify-content: space-between;
  flex-flow: column nowrap;
}

.kie-page__content {
  flex: 1 1 auto;
  overflow: visible;
}

.kie-fullwidth {
  width: 100%;
}

.kie-form-group--vcenter {
  align-items: center;
}

.kie-pagination--optaplanner {
  margin-top: 0;
  margin-bottom: 0;
}

.kie-toolbar--last-of-leftside {
  border-right-color: transparent;
}

.kie-search-pf.has-button .form-group {
  display: flex;
  width: auto;
}
.kie-search-pf.has-button .form-group:first-child {
  padding-left: 0;
}

.kie-tablelist {
  /* Firefox has a bug that cause border-collapse to not work, none of the solutions
  in https://stackoverflow.com/questions/7517127/borders-not-shown-in-firefox-with-border-collapse-on-table-position-relative-o
  worked. Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=688556 */
  border-collapse: separate;
}

.kie-tablelist > thead > tr > th,
.kie-tablelist > tbody > tr > th,
.kie-tablelist > tfoot > tr > th,
.kie-tablelist > thead > tr > td,
.kie-tablelist > tbody > tr > td,
.kie-tablelist > tfoot > tr > td {
  padding: 1.5rem;
  border-bottom: none;
}

.kie-tablelist > tbody+tbody {
  border: none;
}

.kie-tablelist > thead > tr:last-of-type td,
.kie-tablelist > tbody > tr:last-of-type td,
.kie-tablelist > tfoot > tr:last-of-type td {
  border-bottom: 1px solid #d1d1d1;
}
.kie-tablelist > thead {
  background-color: transparent;
  background-image: none;
}
.kie-tablelist > thead > tr > th,
.kie-tablelist > thead > tr > td {
  padding: 0.75rem 1.5rem;
}
.kie-tablelist__subrow {
  display: none;
}
.kie-tablelist__cell--actions {
  text-align: right;
}
td .kie-tablelist__select {
  border-right: 1px solid #d1d1d1;
  padding-right: 1.5rem;
  text-align: center;
}
