@font-face {
    font-family: 'glyphicon';
    src: url('glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.main{
	font-family: "Sans-Serif";
}

.verticalSlider {
	position: absolute;
	display: inline-block;
}

.sliderButton {
	position: absolute;
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input[type=range].verticalSlider {
  -webkit-appearance: none;
  margin: 6.8px 0;
}
input[type=range].verticalSlider:focus {
  outline: none;
}
input[type=range].verticalSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 136, 206, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #002235;
}
input[type=range].verticalSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 1px solid #030303;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: rgba(250, 250, 250, 0.95);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range].verticalSlider:focus::-webkit-slider-runnable-track {
  background: rgba(0, 136, 206, 0.78);
}
input[type=range].verticalSlider::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(0, 136, 206, 0.78);
  border-radius: 1.3px;
  border: 0.2px solid #002235;
}
input[type=range].verticalSlider::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 1px solid #030303;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: rgba(250, 250, 250, 0.95);
  cursor: pointer;
}
input[type=range].verticalSlider::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].verticalSlider::-ms-fill-lower {
  background: rgba(0, 136, 206, 0.78);
  border: 0.2px solid #002235;
  border-radius: 2.6px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].verticalSlider::-ms-fill-upper {
  background: rgba(0, 136, 206, 0.78);
  border: 0.2px solid #002235;
  border-radius: 2.6px;
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range].verticalSlider::-ms-thumb {
  box-shadow: 0px 0px 1px #000031, 0px 0px 0px #00004b;
  border: 1px solid #030303;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background: rgba(250, 250, 250, 0.95);
  cursor: pointer;
  height: 11.4px;
}
input[type=range].verticalSlider:focus::-ms-fill-lower {
  background: rgba(0, 136, 206, 0.78);
}
input[type=range].verticalSlider:focus::-ms-fill-upper {
  background: rgba(0, 136, 206, 0.78);
}


.employeeShiftViewIndifferent .employeeShiftViewDesired .employeeShiftViewUnavailable .employeeShiftViewUndesired .spotShiftView {
  textalign: center;
}

.employeeShiftViewIndifferent {
	background-color: #bbbbbb;
}

.employeeShiftViewDesired {
	background-color: #3f9c35;
}

.employeeShiftViewUnavailable {
	background-color: #8b0000;
}

.employeeShiftViewUndesired {
	background-color: #f0ab00;
}

.spotShiftView {
    background-color: #bbbbbb;
}