@font-face {
    font-family: 'glyphicon';
    src: url('glyphicons-halflings-regular.eot'); /* IE9 Compat Modes */
    src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('glyphicons-halflings-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('glyphicons-halflings-regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('glyphicons-halflings-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
        url('glyphicons-halflings-regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.main{
	font-family: "Helvetica Neue";
}

.employeeShiftViewIndifferent .employeeShiftViewDesired .employeeShiftViewUnavailable .employeeShiftViewUndesired .spotShiftView {
  textalign: center;
}

.employeeShiftViewIndifferent {
	background-color: #bbbbbb;
}

.employeeShiftViewDesired {
	background-color: #3f9c35;
}

.employeeShiftViewUnavailable {
	background-color: #8b0000;
}

.employeeShiftViewUndesired {
	background-color: #f0ab00;
}

.spotShiftView {
    background-color: #bbbbbb;
}