.main{}

.panel {
    padding: 10px;
    z-index: 8192;
}

.glass {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color:#8b8d8f;
	opacity:0.2;
	z-index: 1001;
}

.singleValueTagInput {
    position: relative;
    display: inline-block;
    direction: ltr;
    width: 50%;
}

.submitDiv {
	width: 100%;
	height:100%;
	justify-content: flex-end;
    flex-direction: column;
    display: flex;
    top-margin: 100%;
}

.buttonGroup {
	width: 100%;
	height:100%;
	flex-direction: row;
	justify-content: flex-end;
    display: flex;
}

.submit {
	background-color: #0088ce;
	color: #fafafa;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.cancel {
	background-color: #d1d1d1;
	color: #030303;
	border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.textbox {
    position: relative;
    display: inline-block;
    direction: ltr;
    width: 50%;
}
