.icon-container {
    display: flex;
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-grow: 1;
    flex-direction: row;
    height: 100%;
    margin-bottom: -50px;
    padding-bottom: 50px;
    overflow-y: hidden;
    overflow-x: visible;
}

.indictment-badge {
    height: min-content;
    margin-left: 0;
    margin-right: 5px;
    font-size: 9px;
    min-width: 30px;
}

.indictment-icon {
    color: white;
}